@use '../dimensions.scss' as *;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
    }

    &__image {
        width: 100%;
        border-radius: 0.5rem;
    }

    &__image-div {
        margin-top: 1rem;
        @include tablet {
            margin-top: 2rem;
        }
    }

    &__disaster {
        background-color: #F0F7FF;
        padding: 1rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px #F0F7FF;
        @include tablet {
            margin-top: 3rem;
            max-width: 400px;
        }
        @include desktop {
            min-width: 300px;
            max-width: 900px;
            
        }
    }

    &__disaster:last-of-type {
        margin-top: 3rem;
    }

    &__heading {
        margin-bottom: 1rem;
    }


    &__image-div {
        position: relative;
    }

    &__status {
        position: absolute;
        padding: 0.5rem;
        background-color: white;
        border-radius: 0.5rem;
        z-index: 2;
        top: -0.5rem;
        right: -0.5rem;
        border: 1px solid black;
        box-shadow: 0 0 5px black;
        font-weight: bold;
        @include tablet {
            padding: 1rem 2rem;
            font-size: 1.1rem;
        }
    }

    &__description {
        line-height: 1.5rem;
        @include tablet {
            font-size: 1.2rem;
        }
    }

    &__images {
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;
        }
    }

}